
<div class=rehearsal>
  <%= form_for @rehearsal do |f| %>

  <table>
    <thead></thead>

    <tbody style="display=block">
      <tr>
      <strong>Set your rehearsal</strong> <br>
      <%= f.label :organizer %>:
        <% if rehearsal.organizer_id.nil? %>
          <%= f.text_field :organizer_id, list: "organizer_name" %>
          <datalist id="organizer_name">
          Select an Organizer: 
            <% User.pluck(:name).uniq.each do |organizer| %>
              <option value=" <%= organizer %> "></option>
            <% end %>
          </datalist>
        <% else %>  
          <%= @rehearsal.organizer.name %> 
        <% end %>
        <br>

        <%= f.label :location %>
        <%= f.text_field :location, list: "location" %>
        <datalist id="location">
          <% Rehearsal.pluck(:location).uniq.each do |location_list| %>
            <option value="<%= location_list %>"></option>
          <% end %>
        </datalist>
        <br>
        
        <%= f.label :city %>
        <%= f.text_field :city %> <br>
        
        <%= f.label :purpose %>
        <%= f.text_field :purpose, list: "purpose" %>
        <datalist id="purpose">
        <% Rehearsal.pluck(:purpose).uniq.each do |purpose| %>
          <option value="<%= purpose %>"></option>
        <% end %>
        </datalist>
        <br>
        
        <%= f.label :date %>
        <%= select_date Date.today, prefix: :date %> <br>  
        <%= f.label :time %>
        <%= select_hour Time.now, prefix:  :time %> <br> 
        <br>
        </tr>
        <tr>
        <strong>Song avails for this rehearsal</strong>

        <br>
        <%= form_with model: @song do |song_item| %>
          <%= song_item.collection_check_boxes(:status, Song.all, :id, :title) %> 
        <% end %>

        <br>
         </tr>

        <br>
       


        <tr>
        <%= f.submit %> 
        </tr>
        </tbody>
    </table>
  <% end %> 
</div>
  


<br>
<br>
<%= link_to "Go to ALL Rehearsals", rehearsals_path %>
