

<%= form_for @rehearsal do |f| %>
  <!-- 
    f.options_for_select(Rehearsal.pluck(:location).uniq, @rehearsal.location)

    #{datalist#location}= options_for_select(Rehearsal.pluck(:location).uniq, @person.first_name)
    f.text_field :location, Rehearsal.pluck(:location).uniq %> <br>  
    TODO use a data-select text_field .uniq .pluck here-->
  <%= f.label :location %>
  <%= f.text_field :location, list: "location" %>
  <datalist id="location">
    <% Rehearsal.all.uniq do |rehearsal| %>
      <option value="<%= rehearsal.location %>"></option>
    <% end %>
  </datalist>
  <br>
  <%= f.label :city %>
  <%= f.text_field :city %> <br>
  <%= f.label :purpose %>
  <%= f.text_field :purpose, list: "purpose" %>
  <datalist id="purpose">
  <% Rehearsal.all.uniq do |rehearsal| %>
    <option value="<%= rehearsal.purpose %>"></option>
  <% end %>
  </datalist>
  <br>
  <%= f.label :date %>
  <%= select_date Date.today, prefix: :date %> <br>  
  <%= f.label :time %>
  <%= select_hour Time.now, prefix:  :time %> <br>  
  
  <%= Rehearsal.all %> <br>
  
  <%= Songnote.all %> <br>


<br>
<br>

<%= f.submit %> 
<% end %>

