

<br>
<br>
  <% if @rehearsal.date || @rehearsal.time %>
  <%= link_to @rehearsal.location, edit_rehearsal_path(rehearsal) %> | 
    <%= @rehearsal.time.strftime("%l %p %c") %> | 
    <%= @rehearsal.date.strftime("%A %b %e %c") %>  <br>  
  <% else %>
    <p>This rehearsal setup was not completed, please <%= button_to "delete it" , rehearsals_path%> and start again.</p>

  <% end %>
  <ul>
  <p>Participants:</p>
  <li></li>
  </ul>
  <p>
    <%= @rehearsal.purpose %> <br>
    City: <%= @rehearsal.city %> <br>
    Organized by: <%= link_to @rehearsal.organizer.name, user_path(@rehearsal.organizer_id)%>
  </p>
  
<br>
<br>




<br>
<br>

<br>
<br>
<%= link_to "Back to ALL Rehearsals", rehearsals_path %>

