  <%= link_to rehearsal.location, edit_rehearsal_path(rehearsal) %> | 
  <%= rehearsal.purpose %> <br>
  Organized by: <%= rehearsal.organizer_id %> <%= rehearsal.organizer.name %>
  <%= rehearsal.city %> <br>
  <%= rehearsal.date.strftime("%A %b %e") %>  <br>  
  <%= rehearsal.time.strftime("%l %p") %>
<br>
<br>
  <%= @rehearsal.songs.each do |song| %> 
    <%= song.status %> 
      <%=  link_to song.title, song_path(song) %>
      <%=  song.key %>
      <%=  song.genre %>
      <%= song.songnotes.title %>
  <% end %>

  
  <p>Add rehearsal songs from the list below:</p>
    <% fields_for @songs do |f|%>
      <button><%= f.label :title %></button>
    <% end %>


  <br>
   
<br>
<%= link_to "Back to ALL Rehearsals", rehearsals_path %>

