<!--
  create_table "rehearsals", force: :cascade do |t|
    t.string "location"
    t.string "city"
    t.string "purpose"
    t.datetime "date"
    t.datetime "time"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
  end
-->


<h1>Rehearsals</h1>
<% @rehearsals.each do |rehearsal| %>
  <%= rehearsal.location %> <br>
  <%= rehearsal.city %> <br>
  <%= rehearsal.purpose %> <br>
  <%= rehearsal.date %> <br>
  <%= rehearsal.time %>
<br>
<br>
<% end %>

