<!--
<% @rehearsals.each do |rehearsal| %>
  <%= rehearsal.location %> <br>
  <%= rehearsal.city %> <br>
  <%= rehearsal.purpose %> <br>
  <%= rehearsal.date %> <br>
  <%= rehearsal.time %>
<br>
<br>
<% end %>
-->
<h1>Rehearsals</h1>

<%= render(@rehearsals) || "There's no rehearsals available." %>

<%= link_to "Create a new rehearsal", new_user_rehearsal_path %>