<div class="rehearsals"> </div>
<table>
<tr>
  <td>
    <h1>Rehearsals - </h1>
  </td>
  <td>
    <h4><%= link_to "Create a new rehearsal", new_rehearsal_path %></h4>
  </td>
</tr>

<tr>
  <td>
    <% @rehearsals.each do |rehearsal| %>
      #<%= rehearsal.id %>: <%= link_to rehearsal.location, rehearsal_path(rehearsal) %> |  
      <%= (rehearsal.time).to_s %>   |   <%= rehearsal.date %>
      
      
      <br>  
      <br>  
    <% end %>  
  </td>
</tr>
</table>

