<h4>
<%= @rehearsal.location %> Rehearsal Details <br>
<% if @rehearsal.date || @rehearsal.time  %>
for <%= @rehearsal.date.strftime("%A %b %e") %> |
<%= @rehearsal.time.strftime("%l %p") %></h4>
<% end %>

<strong>
<%= link_to "Create Song Design notes...", new_rehearsal_songnote_path(@rehearsal) %> 
</strong>

<%= render partial: 'rehearsal', locals: {organizer: @organizer, rehearsal: @rehearsal, song: @song, songnote: @songnote, user: @user} %>
<br>


