<h1>Rehearsal Details</h1>

  <%= link_to @rehearsal.location, edit_rehearsal_path(@rehearsal) %> | <%= @rehearsal.date %> TODO %A %b %e <br>  <%= @rehearsal.time  %> TODO %l %p
  <%= @rehearsal.city %> <br>
  <%= @rehearsal.purpose %> <br>
  Organized by: <%= @rehearsal.organizer_id %> <%= @user.name %>
<br>
<br>
<%= link_to "Go to ALL Rehearsals", rehearsals_path %>
