<h1>User</h1>

<%= form_for :user do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :city %>
  <%= f.text_field :phone %>
  <%= f.text_field :email %>
  <%= f.text_field :instrument %>
  <%= f.submit %>
  
<% end %>