

<table>
  <tr>
    <ul>
      <strong><li><%= link_to @user.name, edit_user_path(user) %> </li></strong>
      <strong><%= @user.instrument %></strong><br>
  </tr>

  <tr>
      <%= "Hometown: " %><%= @user.city %> <br>
      <%= "Email: " %><%= @user.email %> <br>
      <%= "Phone: " %><%= @user.phone %> <br>
      Rehearsals: <%=  %><br>
    </ul>
  </tr> 
 
  <tr>

  </tr>   


</table>