

<table>
  <tr>
    <ul>
      <strong><li><%= link_to @user.name, edit_user_path(user) %> </li></strong>
      <strong><%= @user.instrument %></strong><br>
  </tr>

  <tr>
      <%= "Hometown: " %><%= @user.city %> <br>
      <%= "Email: " %><%= @user.email %> <br>
      <%= "Phone: " %><%= @user.phone %> <br>
      Rehearsals: 2TODO show active status<br>
    </ul>
  </tr> 
 
  <tr>
    TODO show assigned user_rehearsal <br>
    TODO  link_to @rehearsal, rehearsal_user_path 
  </tr>   


</table>