<!--
  create_table "users", force: :cascade do |t|
    t.string "name"
    t.string "city"
    t.string "email"
    t.integer "phone"
    t.string "instrument"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
  end

-->

<h1>Users</h1>
  <%= user.name %> <br>
  <%= user.city %> <br>
  <%= user.email %> <br>
  <%= user.phone %> <br>
  <%= user.instrument %>
<br>
<br>
