

<h1>Song Notes</h1>
  <%= @songnote.title %> from:
  <%= link_to @songnote.rehearsal.title, rehearsal_path(@songnote.rehearsal) if @songnote.rehearsal %> (<%= link_to "Edit Songnote", edit_rehearsal_songnote_path(@songnote.rehearsal, @songnote) if @songnote.rehearsal %> <br>
  <%= @songnote.content %> <br>
  <%= @songnote.category %> <br>
<br>
<br>
<%= @songnote.rehearsal_id %>
<%= @songnote.user_id %>
<%= @songnote.song_id %>

