<!--    
    t.string "title"
    t.text "content"
    t.string "type"
    t.integer "song_id"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["song_id"], name: "index_songnotes_on_song_id"

-->

<h1>Song Notes</h1>
<% @songnotes.each do |songnote| %>
  <%= link_to songnote.song.title, song_songnotes_path(songnote.song) %>
  <%= songnote.title %> <br>
  <%= songnote.content %> <br>
  <%= songnote.type %> <br>
  <%= songnote.index_songnotes_on_song_id %> <br>
<br>
<br>
<% end %>