<h1>All Song Design Notes</h1>

<div class="songnotes">
    <% @songnotes.each do |songnote| %>
  <ul>  
    <li>Title: <%= songnote.title %> from: 
      <%= songnote.song_title %>
      <%= songnote.category %> note:
      <%= songnote.content %> <br>
    </li>
  </ul> 
</div>

<div class="button">
  <%= button_to "Edit Note", songnote, method: :patch %>

  <%= button_to "Delete Note", songnote, method: :delete, data: { confirm: "Really? Sure?" } %>

</div>
 
  <% end %> 
