<h1><%= "Add a new note for #{@songnote.song_title}"...%></h1>
<%= render partial: 'form', locals: { songnote: @songnote } %>

    <table>
      <td>
        <p>Note Category: </p>
      </td>
      <td>
        <%= f.radio_button(:type, "feature") %>
        <%= f.label(:type_feature, "Feature/Solo") %>
      </td>
      <td>
        <%= f.radio_button(:type, "design") %> 
        <%= f.label(:type_design, "Design/Structure") %>
      </td> 
      <td>
        <%= f.radio_button(:type, "organizer") %> 
        <%= f.label(:type_organizer, "Organizer") %>
      </td>  
    </table>