
<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>
  <%= f.label :key %>
  <%= f.text_field :key %> <br>
  <%= f.label :genre %>
  <%= f.text_field :genre %> <br>
  <%= f.label :in_style_of %>
  <%= f.text_field :in_style_of %> <br>

  <table>
    <td>
      Song Design Status:
    </td>
    <td>
      <%= f.radio_button(:status, "in use") %>
      <%= f.label(:status_yes, "In Use") %>
    </td>
    <td>
      <%= f.radio_button(:status, "not in use") %> 
      <%= f.label(:status_no, "Not In Use") %>
    </td>    
  </table>
  <br>
  <br>

  <div class="songnote">
  <%= f.fields_for :songnotes do |note_attribute| %>
      <%= note_attribute.label :title  %>:
      <%= note_attribute.text_field :title %> <br>
      <%= note_attribute.label "Note: " %>
      <%= note_attribute.text_area :content, rows: 7, cols: 28 %>
   
    <table>
      <td>
        <p>Note Category: </p>
      </td>
      <td>
        <%= note_attribute.radio_button(:category, "feature") %>
        <%= note_attribute.label(:category_feature, "Feature/Solo") %>
      </td>
      <td>
        <%= note_attribute.radio_button(:category, "design") %> 
        <%= note_attribute.label(:category_design, "Design/Structure") %>
      </td>   
    </table> 
    <% end %>
   </div>
   <br>
   <br>
   
  <%= f.submit %>
<% end %>
<br>
<br>

