
<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>
  <%= f.label :key %>
  <%= f.text_field :key %> <br>
  <%= f.label :genre %>
  <%= f.text_field :genre %> <br>
  <%= f.label :in_style_of %>
  <%= f.text_field :in_style_of %> <br>

  <table>
    <td>
      Song Design Status:
    </td>
    <td>
      <%= f.radio_button(:status, "in use") %>
      <%= f.label(:status_yes, "In Use") %>
    </td>
    <td>
      <%= f.radio_button(:status, "not in use") %> 
      <%= f.label(:status_no, "Not In Use") %>
    </td>    
  </table>

  <h4><%= @song.title %>: song design notes...</h4>
  <%= f.fields_for :songnotes_attributes do |content| %>
    <%= content.label :title  %>:
    <%= content.text_field :title %> <br>
    <%= content.label "Note: " %>
    <%= content.text_area :content, rows: 7, cols: 28 %>
    <table>
    <td>
      Note Category:
    </td>
    <td>
      <%= content.radio_button(:type, "feature_solo") %>
      <%= content.label(:type_feature, "Feature/Solo") %>
    </td>
    <td>
      <%= content.radio_button(:type, "design") %> 
      <%= content.label(:type_design, "Design/Structure") %>
    </td> 
    <td>
      <%= content.radio_button(:type, "organizer") %> 
      <%= content.label(:type_design, "Organizer") %>
    </td>        
  </table>

  <% end %>
  <br>
  <br>
    
  
  <%= f.submit %>
<% end %>
<br>
<br>

