
<table>

  <th>
    <ul>
      <li><%= @user.name %> </li>
  </th>
  <tr>
      <%= user.city %> <br>
      <%= user.email %> <br>
      <%= user.phone %> <br>
      <%= user.instrument %>
    <br>
    <br>
    <li><%= rehearsal.location %></li>
    <ol>
    <% rehearsal.songs.each do |song| %>
      <li><%= song.title %> </li><br>
          <%= song.genre %> <br>
          <%= song.key %> <br>
          <%= song.in_style_of %> <br>
          In design: <%= song.status %> <br>
      
    </ol>
    </ul>
</tr>

  <th>
  Rehearsals: TODO show active status
  </th>
<tr>
  TODO show assigned user_rehearsal <br>
  TODO  link_to @rehearsal, rehearsal_user_path 
</tr>   

</table>