<!DOCTYPE html>
<html>
  <head>
    <title>SongDesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h5>
    <nav>
      <table>
      <th colspan="6">
        <%= link_to 'Musicians', users_path %> 
        <%= link_to 'Rehearsals', rehearsals_path %> 
        <%= link_to 'Songs', songs_path %> 

       <% if user_signed_in? %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to  "Sign In", new_user_session_path %>
          <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path %>

      </th>
      <th colspan="3">
          <%= button_to "Sign Out", destroy_user_session_path, {method: 'delete'} %>
        <% end %>
      </th>
      </table>
    </nav>
    </h5>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>   
       
    <%= yield %>
</body>
</html>
